/* Write your code here. */
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.image {
  margin-left: 3px;
  margin-right: 3px;
}
.btn {
  background-color: #ffffff;
  border-width: 0px;
  cursor: pointer;
  outline: none;
  opacity: 0.5;
}
.btn-active {
  opacity: 1;
}
